{% extends 'base.html' %} {% load static %} {% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <h1>Log In</h1>
  {% if messages %} {% for message in messages%}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="box">
      <i class="fa fa-envelope"></i>
      <input
        type="text"
        name="username"
        id="email"
        placeholder="Enter Your Username"
        required
      />
    </div>
    <div class="box">
      <i class="fa fa-key"></i>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter Your Password"
        required
      />
    </div>
    <button class="btn">Sign In</button>
  </form>
</div>

{% endblock %}
